* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #648DE5 ;
    display: grid;
    place-items: center;

}
.calculadora {
    background-color: #15173c;
    color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;   
}
.pantalla{
    grid-column: 1 / -1;
    background-color: #CBEFB6;
    padding: 1.4rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.btn{
    background-color: brown;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;

}
.btn:hover {
    background-color:black ;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: red;
}
#igual:hover {
    background-color: black;
}